
body {
	font-family: 'Lucida Grande',Verdana,Helvetica,Arial,sans-serif;
}

div {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}
h3 {
	color: #0F636E;
	padding: 20px;
	display: inline-block;
}


#grapharea-speedtest ,
#grapharea-bittorrent ,
#grapharea-rawtest
{
	height: 500px;
	margin-top:none;
	border-top:none;
	border: 2px solid #00B047;
}

#grapharea-rawtest,
#grapharea-bittorrent{
	display:none;
}

input{
	width:100px;
	float:right;
	display:inline;
}

.errorinput{
	border:2px solid red;
}

#fields{
	margin-left: auto;
	border: 1px solid green;
	margin-top:5%;
	margin-bottom:5%;
}


span {
	display:inline-block;
	height:40px;
	margin-top:10px;
	margin-left:10px;
}

button{
	height:30px;
	float:right;
	background:#00B047;
	color:white;
	margin:10px;
	border:none;
	-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
    border-radius: 5px;
}

#errorDiv{
    height:60px;
    color: #A34918;
    margin-top:none;
    margin-bottom: 20px;
    background-color:#F2AF9B;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

select{
}

#tabs {
	 margin: 0;
	 padding: 0;
	 list-style-type: none;
	 overflow: hidden;
	 margin-right:30px;
}

#tabs li {
	 cursor: pointer;
	 float: right;
	 padding: 5px;
	 margin-left:10px;
	 background: #EFEFEF;
	 margin-bottom: none;
	 margin-bottom:0px;
	 border:1px solid grey;
	 border-bottom: none;
 }
#tabs li.selected {
	background-color:#00B047;
	color:white;
	}

#tabs-content { clear: both; }

#tabs-content.js > div { display: none; }

#tabs-content.js > #tab-content-1 { display: block; }

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.background {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15pt;
}

path {
	fill: none;
	stroke-width: 1.5px;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;

}

.axis text{
	font-family: Arial;
	font-size: 9pt;
}

.upload {
	fill: red;
	stroke: orange;
	stroke-width: 3px;
}

.download {
	fill: blue;
	stroke: steelblue;
	stroke-width: 3px;
}

path.upload {
	fill: none;
}
path.download {
	fill: none;
}

/*
 *  GEOGRAPHIC
 */

#geobase{
    width: 700px;
    height: 500px;
    position:absolute;
    top: 25%;
    left: 21%;
    z-index: 2;
    background: white;
}
.countryPath {
  stroke: green;
  stroke-width: 0.5px;
}

.countryPath_unselected{
    fill:gray;
}

.countryPath_selected {
    fill: green;
}
